
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
.logo-netflix-top{
    height: 50px;
}
.bg-color {
    background-color: #01060b!important;
}
.collapse-color {
    background-color: #DCDCDC!important;
}
.nav-link{
    color: #f8f9fa !important;
}
.form-container{
    margin: 100px 0px 50px 0px;
}

.footer-color{
    color: #ffee00;
}
.carousel-inner{
    height: 70;
    width: auto;
}
.hide{
    display: none;
}
#product-name{
<<<<<<< HEAD
color:#FFD700;
}
=======
color:white;
}
.card-body{
    background-color: rgba(66, 62, 55, 0.863);
}
.card-body:hover{
    transform: scale(1.06) !important;
 }
.card{
    margin-top: 20px;
    border: 0 !important;
    background-color: #141414 !important;
}

body{
    background-color: #0d0c0c !important;
}
#product-name{
    color:#FFD700;
    }
>>>>>>> 299ed7ba55aaa1231c8be253154ff6c50f13bc54
