@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.logo-netflix-top{
    height: 50px;
}
.bg-color {
    background-color: #01060b!important;
}
.collapse-color {
    background-color: #DCDCDC!important;
}
.nav-link{
    color: #f8f9fa !important;
}
.form-container{
    margin: 100px 0px 50px 0px;
}
.footer-color{
    color: #ffee00;
}

